.menu {
  display: flex;
  background-color: #a82315;
  align-items: center;
  justify-content: center;
  box-shadow: grey 0px 5px 5px;
  height: 80px;
}

.menu a {
  margin: 80px;
  text-decoration: none;
  color: #ffffffaa;
}

.menu a:hover {
  color: #ffffff;
}
